
.container{
display: flex;
flex-direction: column;
align-items: center;
background: rgba(239, 226, 218, 0.79);
padding-top: 50px;


}
.container h2{
    text-align: center;
}
.container-box{
    background: #fbfbfb;
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
    justify-content: space-around;
    width: 60%;
    border-radius: 20px;
    box-shadow: 5px 10px #888888;
    min-width: 300px;
    padding: 10px 0px;
    
}
.container-box img{
width: 30%;
min-width: 300px;
border-radius: 20px;
}
.box{
    background: #FFF;
    max-width: 30%;
    min-width: 300px;
    border-radius: 20px;
   
    
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    /* padding: 20px; */

    flex-direction: column;
   justify-content: center;
   flex-shrink: 0;
}
.box h4{
color: #000;
font-family: Inika;
font-size: 30px;
font-style: normal;
font-weight: 400;
line-height: normal;
padding: 20px 0px;
}
.box p{
    color: #767676;
    font-family: Inika;
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    /* padding-left: 20px; */
    padding-bottom: 10px;
}


